/* D3 -------------------------------------------------------
-------------------------------------------------------------
------------------------------------------------------------- */

/* Structure */
#canvas_064,
#canvas_063 {
background-color: #f9f4ef;
display: flex;
flex-flow: row;
align-items: flex-start;
}

.spacer_left {
display: flex;
order: 0;
flex-shrink: 4;
}

svg {
display: flex;
order: 1;
flex-shrink: 0;
}

.spacer_right {
display: flex;
order: 2;
flex-shrink: 2;
}

/* Typo */
/* Typo Menu */
/* 063 */
.button {
font-size: 20px;
line-height: 1;
font-weight: 600;
}

/* Typo GFX */
/* 064 */
.tick {
font-size: 12px;
}

.label {
font-size: 20px;
font-weight: 600;
}

/* 063 */
.bar_display {
font-size: 20px;
line-height: 1;
font-weight: 600;
}

.bar_value {
font-size: 20px;
line-height: 1;
font-weight: 600;
}

/* Typo Text */
/* 063 */
/* 064 */
.text_headline {
font-size: 26px;
letter-spacing: -0.25px;
line-height: 1;
font-weight: 400;
}

.text_source {
font-size: 12px;
line-height: 1;
font-weight: 400;
}

/* D3 Media Queries */
@media screen and (max-width: 640px) {

.spacer_left {
width: 50px;
height: 270px;
}

svg {
width: 270px;
height: 270px;
}

.spacer_right {
width: 50px;
height: 270px;
}
.container_margin {
transform: scale(0.5) translate(20px, 20px);
}

.layout_group {
transform: scale(0.5);
}

}
